
body {
    background-color: rgb(250, 232, 211);
  }
  /*cabezera-------------------------------------------------------------------------*/
  header {

    background-color: brown;
  }
  .header {
    display: flex;
    background-color: brown;
    margin: 0px;
    padding: 10px;
    width: auto;
  }
    /*carittoooo --------------------------------------------------------------------*/
    #addCar{
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 10%;
      background-color: rgb(255, 68, 68);
    }
    .space{
      width: 70%;
  
    }
  .img-carrito{
   justify-content: right;
   text-align: right;
   width: 20%;
  
  }
  h1{
    width: 200%;

  }

/*-----------------------------------------------------------------------------------------------------*/
  #store-car {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    
  }

  /*items de tiendaaaa---------------------------------------------------------------------------        */
  .Cart-item    {
 
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    width:150px ;
    height: 350px;
   border-radius: 10px;
    border-color: black;
    padding: 15px;
    margin: 10px;

  }
  .empty{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.total{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
  p{text-align: left;} 
  
  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  h3{text-align: left;}
  .removeItem{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: rgb(255, 68, 68);
  }


  
